div(id="searchbar")
  div(id="hometext")
    p IWishIKnew
  img(src="/images/cloudbubbs.png")
  form(method='post')
    input(id="macbar", type='text',name='searchterm')
    input(id='sb',type='submit',value='Find')

