body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color:#F1EDC2;
}

a {
  color: #00B7FF;
}

h2{
  color:red;
}
#searchbar{
  position:absolute;
  margin:0;
  padding:0;
  left:38%;
  top:40%; 
}

#searchbar img{
 max-width:42%; 
}

#column1{
width:70%;
margin-right:5px;
float:left;
}

#column2{
float:right;
width:25%;
}
